name: Build and Deploy
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Setup Ruby
        uses: ruby/setup-ruby@v1
        with: { ruby-version: 3.0 }
      - run: bundle install
      - run: bundle exec jekyll build
      - uses: JamesIves/github-pages-deploy-action@4.1.4
        with: { branch: gh-pages, folder: _site }
